.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 300px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding: 30px;

  text-align: center;

  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  padding: 10px;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  color: grey;
  font-size: 16px;
}

.statList {
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
